<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listar Tarefas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/desafio2">Voltar para o Menu</ion-button> <br> <br>
  <ion-button (click)="filtrarTarefas()">Listar Tarefas</ion-button>
  <ion-list>
    <ion-item *ngFor="let tarefa of tarefas">
      {{ tarefa.titulo }}
    </ion-item>
  </ion-list> <br> <br>
  <select [(ngModel)]="filtro" name="seletorlistar" id="seletorlistar">
    <option value="concluidas">Tarefas Concluídas</option>
    <option value="pendentes">Tarefas Pendentes</option>
  </select>
  <ion-list *ngIf="filtro=='concluidas'">
    <ion-item *ngFor="let tarefa of concluidas">
      {{ tarefa.titulo }} - Concluídas
    </ion-item>
  </ion-list>
  <ion-list *ngIf="filtro=='pendentes'">
    <ion-item *ngFor="let tarefa of pendentes">
      {{ tarefa.titulo }} - Pendentes
    </ion-item>
  </ion-list>
</ion-content>
