ion-button {
  --background: #ff0000;
  --color: white;
  --border-radius: 10vw;
  --margin: 5vw;
  width: 35vw;
  height: 10vh;
  font-size: 16px;
  padding: 1vw;
}

ion-content {
    --background: black
}


ion-item, ion-list, select, option {
    --background: gray
}

* {
    color: white;
    --background: gray
}

option {
    color: black;
}

h2 {
    margin: 2vw

}
