<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formatar-preco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">formatar-preco</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="irParaMenu()">Voltar para o Menu</ion-button>
  <ion-input type="number" placeholder="Digite o id do produto" [(ngModel)]="idProduto" name="idProduto"> </ion-input>
  <ion-button type="submit" (click)="formatarPreco(idProduto)">Formatar Preço</ion-button>
  <h2 *ngIf="precoFormatado">Preço formatado: {{ precoFormatado }}</h2>
  <h2 *ngIf="!precoFormatado">Produto não encontrado</h2>
</ion-content>
