<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Desafio 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/home">Sair</ion-button>
  <h2>Menu de Funções Úteis</h2>
  <ion-button (click)="salvar()">Atualizar Dados Salvos</ion-button>
  <ion-button routerLink="/formatarpreco">Ir para Formatar Preço</ion-button>
  <ion-button routerLink="/calculartotalestoque">Ir para Calcular Total do Estoque</ion-button>
  <ion-button routerLink="/filtrar-tarefas">Ir para Filtrar Tarefas</ion-button>
  <ion-button routerLink="/contar-prioridade">Ir para Contar Prioridade</ion-button>
  <h2>Menu de Interação</h2>
  <ion-button routerLink="/listar-produtos">Ir para Listar Produtos</ion-button>
  <ion-button routerLink="/listar-tarefas">Ir para Listar Tarefas</ion-button>
  <ion-button routerLink="/cadastrar-produto">Ir para Cadastrar Produto</ion-button>
  <ion-button routerLink="/concluir-tarefa">Ir para Concluir Tarefa</ion-button>

</ion-content>
