<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>desafio2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">desafio2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="irParaHome()">Voltar para a Página Inicial</ion-button>
  <h1>Menu de navegação do Desafio 2</h1>
  <ion-button (click)="irParaFormatarPreco()">Ir para Formatar Preço</ion-button>
</ion-content>
